@model UserManagement.Web.Models.Users.UserListViewModel

<h2>User List</h2>

<div class="table-responsive">
	<table id="userTable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Account Active</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody class="user_body">
			@await Html.PartialAsync("_UserTablePartial", Model)
        </tbody>
    </table>
</div>

<div>
    <div class="btn-group" role="group">
        <a asp-controller="Users" asp-action="List" class="btn btn-default">Show All</a>
		<a class="active-btn btn btn-default" data-isactive="true">Active Only</a>
		<a class="active-btn btn btn-default" data-isactive="false">Non Active</a>
    </div>

    <a href="#" class="btn btn-primary float-end">
        Add User
    </a>
</div>

@section scripts {
		<script>
			$(document).ready(function () {
					
					// Make an AJAX request to the server to get filtered data
					$(".active-btn").click(function () {

					$.ajax({
						url: '@Url.Action("FilterByActive", "users")',
						type: 'POST',
						data: {
								isActive: $(this).data("isactive")
						},
						success: function (data) {
							// Replace the table content with the filtered data
							$('.user_body').html(data);
						}
					});
				});
			});
		</script>
}
